<!DOCTYPE>
<html>
    <head>
        <title>Community</title>
        <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/pure-min.css" integrity="sha384-UQiGfs9ICog+LwheBSRCt1o5cbyKIHbwjWscjemyBMT9YCUMZffs6UqUTd0hObXD" crossorigin="anonymous">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:200">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
        <link rel="stylesheet" href="./css/community.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
        <!--Favicon-->
        <link rel="shortcut icon" type="image/jpg" href="../homePage/images/theSoundBarLogo.png">
    
    </head>
    <body>
        <!-- <nav class="white" role="navigation">
            <div class="nav-wrapper container">
              <div class="brand-logo"><img id="logo-container" src="../homePage/images/theSoundBarLogo.png" ></div>
              <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="#!">Community</a></li>
                <li><a href="#!">Pages</a></li>
                <li><a href="#!">Events</a></li>
              </ul>
        
              <ul id="nav-mobile" class="sidenav">
                <li><a href="#!">Community</a></li>
                <li><a href="#!">Pages</a></li>
                <li><a href="#!">Events</a></li>
              </ul>
              <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            </div> -->
        
                
        <section>

            <div class="container">
                <div class="box">
                    <div class="image">
                        <img src="./images/photo-1511671782779-c97d3d27a1d4.jpeg" alt="Microphone">
                    </div>
                <div class="main">
                    <form action="" method="POST">
                        <textarea name="name" rows="8" cols="10" placeholder="What's on your mind?"></textarea>
                        <button type="submit">POST</button>
                    </form>
                </div>
                </div>
                {{#if posts.length}}
                <section>
                <h2>Your Posts</h2>
                <ol>
                    {{#each posts as |post|}}
                    <li>
                    {{> post-info post}}
                    <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
                    </li>
                    {{/each}}
                </ol>
                </section>
                {{/if}}
            </div>
        </section>
        

        <!--PUSHER OR SOCKET.IO-->
        <!--This is where users can interact with other users' posts-->
        <!-- <section>
           <div class="flash-comments">
                <div class="header">
                    <div> <i class="material-icons">chat</i></div>
                    <div class="text">Comments</div>
                </div>
                <form class="pure-form" id="comment-form">
                    <!-- Here we will put a form to create new comment -->
                    <!-- <form class="pure-form" id="comment-form">
                        <div class="comment-form">
                            <div class="left-side">
                                 <div class="row">
                                     <input type="text" required placeholder="enter your name" id="new_comment_name">
                                     <input placeholder="enter valid email" required type="email" id="new_comment_email">
                                  </div>
                                  <div class="row">
                                      <textarea placeholder="enter comment text" required id="new_comment_text" rows="3"></textarea>
                                  </div>
                            </div>
                           <div class="right-side">
                                <button type="submit" class="button-secondary pure-button">Send Comment</button>
                           </div>
                       </div>
                      </form> 
                </form>
                 <div class="comments-list" id="comments-list">
                    <!-- Here we will display live comments -->
                    <!-- <div class="comments-list" id="comments-list">
                        <script id="comment-template" type="text/x-template">
                            <div class="user-icon">
                                <img src="./assets/user.png" />
                            </div>
                            <div class="comment-info">
                                <div class="row">
                                      <div class="name">{{name}}</div>
                                      <div class="email">{{email}}</div>
                                 </div>
                                 <div class="row">
                                       <div class="text">{{comment}}</div>
                                 </div>
                             </div>
                         </script>
                    </div>
                </div>
            </div>
        </section>
        <!--Add the Pusher JS library-->
        <!-- <script type="text/javascript" src="https://js.pusher.com/3.2/pusher.min.js"></script>
        <script type="text/javascript" src="community.js"></script> --> 
    </body>
</html>