<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <title>Events</title>

    <style>
    img {
    width: 100%;
    height: auto;
    max-width: 200px;
    max-height: 200px;
    }
    </style>
    
</head>

<body>
    <!-- <nav class="white" role="navigation">
        <div class="nav-wrapper container">
            <a id="logo-container" href="#" class="brand-logo">Logo</a>
            <ul class="right hide-on-med-and-down">
                <li><a href="#">Home Page</a></li>
            </ul>
            <ul id="nav-mobile" class="sidenav">
                <li><a href="#">Home Page</a></li>
            </ul>
            <ul class="right hide-on-med-and-down">
                <li><a href="#">Community</a></li>
            </ul>
            <ul id="nav-mobile" class="sidenav">
                <li><a href="#">Community</a></li>
            </ul>
            <ul class="right hide-on-med-and-down">
                <li><a href="#">Events</a></li>
            </ul>
            <ul id="nav-mobile" class="sidenav">
                <li><a href="#">Events</a></li>
            </ul>
            <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        </div>
    </nav> -->
    <div id="geolocation" w-type="event-discovery" w-tmapikey="bz4pDAkoqBgGaRl2E3fNUOQjJikthwgI"
        w-googleapikey="AIzaSyDcU0LF2egc1-fLJbfTdQ1SVQKyIqju6AA" w-keyword="" w-theme="oldschool" w-colorscheme="light"
        w-width="350" w-height="600" w-size="25" w-border="2" w-borderradius="4" w-postalcode="" w-radius="25" w-city=""
        w-period="week" w-layout="vertical" w-attractionid="" w-promoterid="" w-venueid="" w-affiliateid=""
        w-segmentid="" w-proportion="custom" w-geoposition="on" w-source="" w-latlong="39.7684030,-86.1580680"
        w-titlelink="off" w-sorting="groupByName" w-id="id_5vo2c" w-countrycode="US" w-source=""
        w-branding="Ticketmaster" w-latlong="">
    </div>

    <div class="carousel">
        <a class="carousel-item" href="#one!"><img src="./images/hanny-naibaho-aWXVxy8BSzc-unsplash.jpg" alt="Community Feature Button"></a>
        <a class="carousel-item" href="#two!"><img src="./images/jefferson-santos-fCEJGBzAkrU-unsplash.jpg" alt="Community Feature Button"></a>
        <a class="carousel-item" href="#three!"><img src="./images/john-matychuk-gUK3lA3K7Yo-unsplash.jpg" alt="Community Feature Button"></a>
        <a class="carousel-item" href="#four!"><img src="./images/marcela-laskoski-YrtFlrLo2DQ-unsplash (1).jpg" alt="Community Feature Button"></a>
        <a class="carousel-item" href="#five"><img src="./images/nainoa-shizuru-NcdG9mK3PBY-unsplash.jpg" alt="Community Feature Button"></a>
    </div>
</body>
<script
    src="https://ticketmaster-api-staging.github.io/products-and-docs/widgets/event-discovery/1.0.0/lib/main-widget.js?v=1">
</script>
<script>
$(document).ready(function(){
  $('.carousel').carousel();
});
</script>
<!--Geolocation for Events-->
<script>
    var x=document.getElementById("demo");
    function getLocation()
     {
    if (navigator.geolocation)
    {
    navigator.geolocation.getCurrentPosition(showPosition);
    }
    else{x.innerHTML="Geolocation is not supported by this browser.";}
    }
    function showPosition(position)
    {
    x.innerHTML="Latitude: " + position.coords.latitude + 
    "<br>Longitude: " + position.coords.longitude;  
    }
    getLocation()
    </script>
</html>