<!DOCTYPE html>
<html>
  <head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="stylesheets/materialize.min.css"  media="screen,projection"/>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

<style>
  *{
    background-color: #14213d;
  }
  img {
    width: 100%;
    height: auto;
    max-width: 100px;
    max-height: 100px;
  }
  /* .content {
  max-width: 500px;
  margin: auto;
} */
</style>

  </head>
<div class="content">
  <body>
    <div class="row">
      <div class="col s12">
        <h2 class="grey-text text-lighten-5">WELCOME TO THE SOUND BAR!</h2>
      </div>
    </div>

    <div class="carousel">
      <a class="carousel-item" href="/community"><img src="images/CommunityButton.png" alt="Community Feature Button"></a>
      <a class="carousel-item" href="#two!"><img src="images/PagesButton.png" alt="Pages Feature Button"></a>
      <a class="carousel-item" href="/events"><img src="images/EventsButton.png" alt="Community Feature Button"></a>
    </div>

  </div>

    <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="javascript/materialize.min.js"></script>
    <script type="text/javascript" src="javascript/init.js"></script>
  </body>
</html>