<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Music Platform</title>
</head>
<body>
    <div class="row">
        <form id="" class="col s12 signupform">
          <div class="row">
            <div class="input-field col s6">
              <input placeholder= "First Name" id="first_name" type="text" class="validate">
              <label></label>
            </div>
            <div class="input-field col s6">
              <input placeholder= "Last Name" id="last_name" type="text" class="validate">
              <label for="last_name"></label>
            </div>
          </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input placeholder= "Password" id="password" type="password" class="validate">
              <label for="password"></label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input placeholder= "Email" id="email" type="email" class="validate">
              <label for="email"></label>
            </div>
          </div>
    
        
        <div class="row">
          <div class="input-field col s12">
            <select id="genre1">
              <option value="" selected>Choose your option</option>
              <option value="Country">Country</option>
              <option value="Electric">Electric</option>
              <option value="Funk">Funk</option>
              <option value="Hip Hop">Hip Hop</option>
              <option value="Jazz">Jazz</option>
              <option value="Latin">Latin</option>
              <option value="Pop">Pop</option>
              <option value="Punk">Punk</option>
              <option value="Reggae">Reggae</option>
              <option value="Rock">Rock</option>
              <option value="Metal">Metal</option>
              <option value="Soul">Soul and R&B</option>
              <option value="Polka">Polka</option>
            </select>
            <label>Top Favorite Genre</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <select  id="genre2">
             <option value="" selected>Choose your option</option>
             <option value="Country">Country</option>
             <option value="Electric">Electric</option>
             <option value="Funk">Funk</option>
             <option value="Hip Hop">Hip Hop</option>
             <option value="Jazz">Jazz</option>
             <option value="Latin">Latin</option>
             <option value="Pop">Pop</option>
             <option value="Punk">Punk</option>
             <option value="Reggae">Reggae</option>
             <option value="Rock">Rock</option>
             <option value="Metal">Metal</option>
             <option value="Soul">Soul and R&B</option>
             <option value="Polka">Polka</option>
            </select>
            <label>Second Favorite Genre</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <select class="select" id="genre3">
                <option value="" selected>Choose your option</option>
                <option value="Country">Country</option>
                <option value="Electric">Electric</option>
                <option value="Funk">Funk</option>
                <option value="Hip Hop">Hip Hop</option>
                <option value="Jazz">Jazz</option>
                <option value="Latin">Latin</option>
                <option value="Pop">Pop</option>
                <option value="Punk">Punk</option>
                <option value="Reggae">Reggae</option>
                <option value="Rock">Rock</option>
                <option value="Metal">Metal</option>
                <option value="Soul and R&B">Soul and R&B</option>
                <option value="Polka">Polka</option>
              </select>
              <label>Third Favorite Genre</label>
          </div>
        </div>
      </form>
    </div>
    <button class="btn waves-effect waves-light btn-large" type="submit" onclick="signUp()">Submit<i class="material-icons right">send</i></button>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script type="text/javascript">
  $(document).ready(function() {
    $('select').formSelect();
})

var signUp = function(){


  var first_name = document.getElementById("first_name").value;

  var last_name = document.getElementById("last_name").value;

  var password = document.getElementById("password").value;

  var email = document.getElementById("email").value;

  // var genre1 = document.getElementById("genre1").options.selected
  // var first_name_value = first_name.value;
  var genres = [];
  for (var genre1 of document.getElementById("genre1").options){
      if (genre1.selected) {
          genres.push(genre1.value);
      }
  };

  for (var genre2 of document.getElementById("genre2").options){
      if (genre2.selected) {
          genres.push(genre2.value);
      }
  };

  const userGenre3 = function() {
    for (var genre3 of document.getElementById("genre3").options){
      if (genre3.selected) {
          genres.push(genre3.value);
      }
  };
}

  if (genre1 && email && password) {
      const response = fetch('/api/users', {
        method: 'post',
        body: JSON.stringify({
          email,
          password,
          first_name,
          last_name,
          userGenre3
        }),
        headers: { 'Content-Type': 'application/json' }
      });

      if (response.ok) {
        document.location.replace('../landingPage/landingPage.html');
      } else {
        alert(response.statusText);
      }
    }
}
</script>
</body>
</html>